.flex-space {
	display: inline-flex;
	width: calc(var(width) + 16px);
	height: calc(var(height) + 16px);
	justify-content: center;
	align-items: center;
}
*, *::before, *::after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
