*, *::before, *::after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
pre {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: initial;
}
